@import '../../assets/css/theme';
@import '../../assets/css/mixins';
@import '../../assets/css/extendables';

.activity-creator {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;

    .page-content {
        .mirror-form-wrapper {
            @extend %flex-v-between;
            padding: 25px;

            .mirror-form-header {
                @extend %flex-h-between;
                flex-wrap: nowrap;
                width: 100%;

                h4 {
                    @include fontSize(32);
                }
            }

            .mirror-form-content {

            }

            .mirror-form-foot {

            }
        }
    }
}