@import '../../assets/css/theme';
@import '../../assets/css/mixins';
@import '../../assets/css/extendables';

.activity-creator {
    .page-content.mirror-form-wrapper {
            @extend %flex-v-between;
            padding: 25px;
            height: calc(100% - 86px);
            width: 100%;

            .mirror-form-header {
                @extend %flex-h-between;
                position: relative;
                flex-wrap: nowrap;
                width: 100%;
                padding-bottom: 25px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: $fontLight;
                    left: 0;
                    bottom: 17.5px;
                    opacity: 0.3;
                }

                small {
                    font-weight: 800;
                    color: $primaryColorRGB;
                }

                h4 {
                    @include fontSize(24);
                }
            }

            .mirror-form-content {
                width: 100%;
                height: calc(100% - 50px);
                overflow-y: auto;

                h4 {
                    color: $primaryColorRGB;
                }

                .question-wrapper {
                    padding: 25px;
                    position: relative;
                    width: 100%;
                    background-color: $lightBackgroundAlt;
                    margin-bottom: 25px;

                    &:last-child {
                        margin-bottom: initial;
                    }

                    .question-header {
                        @extend %flex-h-between;
                        flex-wrap: nowrap;
                        padding-bottom: 12.5px;

                        .question-title {
                            width: 70%;
                            padding-right: 25px;
                        }

                        .question-type {
                            width: 30%;
                        }

                        .question-title, .question-type {
                            > * {
                                width: 100%;
                            }
                            .tip { 
                                padding-bottom: 10px;
                            }
                        }
                    }

                    .question-actions {
                        @extend %flex-h-end;
                        justify-content: flex-end;
                        padding-top: 25px;
                    }
                }

            }

            .mirror-form-foot {
                @extend %flex-h-between;
                width: 100%;
                padding-top: 25px;

                .btns--align-right {
                    @extend %flex-h-end;

                    > *:first-child {
                        margin-right: 25px;
                    }
                }
            }
        }

    .right-choices-wrapper, .true-or-false-wrapper, .relational-wrapper {
        padding-top: 12.5px;
        padding-bottom: 25px;
        border-top: 1px solid $lightBorder;

        .choice {
            padding-top: 15px;

            &:first-child {
                padding-bottom: initial;
            }

            &.answer fieldset {
                border-color: $primaryColorRGB;
            }

            > button {
                margin-left: 10px;
                color: $primaryColorRGB;
            }
        }
    }

    .relational-wrapper {
        .left-cell {
            vertical-align: middle;
            position: relative;
            > span {
                @include fontSize(26);
                color: $primaryColorRGB;
                font-weight: 700;
                padding-right: 10px;
                display: inline-block;
                transform: translateY(25%);
                
                &::after {
                    content: ')';
                }
            }
        }

        .right-cell {
            .MuiFormControl-root:first-child {
                padding-right: 10px;
            }

            .MuiSelect-root {
                min-width: 55px;
            }
        }
    }

}

.activity-creator-small-dialog-content {
    @extend %flex-v-center;
    align-content: stretch;
    
    > * {
        width: 100%;
        margin-bottom: 25px !important;

        &:last-child {
            margin-bottom: initial !important;
        }
    }
}