@import '../../assets/css/theme';
@import '../../assets/css/mixins';
@import '../../assets/css/extendables';

.activity-creator {
    .page-content {
        height: 100%;
        width: 100%;

        .mirror-form-wrapper {
            @extend %flex-v-between;
            padding: 25px;
            height: 100%;
            width: 100%;

            .mirror-form-header {
                @extend %flex-h-between;
                flex-wrap: nowrap;
                width: 100%;

                h4 {
                    @include fontSize(32);
                }
            }

            > hr {
                margin: 25px 0;
                width: 100%;
            }

            .mirror-form-content {
                width: 100%;
                height: 100%;
                overflow-y: auto;

                .question-wrapper {
                    padding: 25px;
                    position: relative;
                    width: 100%;
                    background-color: $lightBackgroundAlt;

                    .question-header {
                        @extend %flex-h-between;
                        flex-wrap: nowrap;

                        .question-title {
                            width: 70%;
                            padding-right: 25px;
                        }

                        .question-type {
                            width: 30%;
                        }

                        .question-title > *, .question-type > * {
                            width: 100%;
                        }
                    }

                    .question-actions {
                        @extend %flex-h-end;
                        justify-content: flex-end;
                        padding-top: 25px;
                    }
                }

            }

            .mirror-form-foot {
                @extend %flex-h-between;
                width: 100%;

                .btns--align-right {
                    @extend %flex-h-end;

                    > *:first-child {
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}