@import '../../assets/css/theme';
@import '../../assets/css/extendables';

.context-selector-wrapper {
  @extend %flex-h-end;
  flex-wrap: nowrap;
  height: 100%;
  border-right: 1px solid rgba(0, 236, 212, 0.35);
  border-left: 1px solid rgba(0, 236, 212, 0.35);
  padding: 0 10px;
  background-image: url(../../assets/img/bkg-pattern-1.png);

  .selector-wrapper {
    @extend %flex-h-end;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border: none;

    &:first-child {
      margin-right: 15px;
    }

    &.animate-it {
      animation: zoomIn 1 0.5s;
    }

    > .MuiInputBase-root {
      max-width: 100%;

      label {
        color: white;
        opacity: 0.5;
      }

      > div {
        color: white;
      }

      .MuiSelect-root {
        display: block;
        width: 100%;
        min-width: 75px;
        background-color: rgba(255,255,255,0.15);

        &:focus {
          background-color: rgba(0,0,0,0.15);
        }
      }

      .MuiSelect-icon {
        color: white;
      }

      fieldset {
        border: none;
      }
    }
  }

  @keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; margin-right: -100%;}
    to { transform: scale(1); opacity: 1; margin-right: 0%}
  }
}