@import '../../assets/css/theme';
@import '../../assets/css/extendables';
@import '../../assets/css/mixins';


.launcher {

    .page-header {
        .launcher-toggler {
            @extend %bs-spread-shadow;

            > * {
                transition: all 0.5s;
                background-color: $primaryColor;
                color: white;
                font-weight: 600;
                border: none;

                &[data-selected="presence"]:first-child {
                    background-color: $secondaryColor;
                }
                &[data-selected="points"]:last-child {
                    background-color: $secondaryColor;
                }
            }
        }
    }

    .page-content {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        > .level {
            transition: all 0.5s;
            right: 0;
            z-index: 0;

            &:last-child {
                right: -100%;
                top: -100%;
            }

            > * {
                width: 100%;
                height: 100%;
            }
        }

        &[data-current-launcher="points"]  {
            > .level {
                right: 100%;
                
                &:last-child {
                    right: 0;
                }
            }
        }

        .level {
            position: relative;
            width: 100%;
            height: 100%;

            .level-header {
                @extend %flex-h-between;
                align-content: center;
                height: 100px;
                padding: 25px;
                width: 100%;

                .level-path {
                    @include fontSize(16);
                    @extend %flex-h-start;
                    align-content: flex-start;
                    background-color: $lightBackgroundAlt;
                    padding: 15px;
                    border-radius: 6px;

                    * {
                        height: 100%;
                        display: inline-block;
                    }

                    > span {
                        padding-right: 10px;

                        &::after {
                            content: '/';
                            padding-left: 10px;
                        }

                        &:last-child::after {
                            display: none;
                        }
                    }
                }

                > button {
                    transition: opacity 0.35s, transform 0.5s;
                    float: right;
                    transform: scale(0);
                    opacity: 0;

                    .MuiIcon-root {
                        margin-right: 10px
                    }

                    &[data-show-button=true] {
                        transform: scale(0.75);
                        opacity: 1;
                    }
                }
            }

            .level-content {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;
                opacity: 1;

                &.visible {
                    animation: backLevelEffect 1 0.5s;
                }

                &.hidde {
                    animation: openLevelEffect 1 0.35s;
                    transform: scale(0);
                }
            
                .content-grid {
                    @extend %flex-h-start;
                    align-content: flex-start;
                    align-items: stretch;
                    flex-wrap: wrap;
                    width: calc(100% + 25px);
                    height: calc(100% - 100px);
                    position: relative;
                    overflow-y: auto;
                    padding: 0 25px;
                    margin-right: -12.5px;
                    margin-left: -12.5px;

                    .card-wrapper {
                        padding: 12.5px;
                        width: calc(25% - 25px);
                        min-width: 280px;

                        &:nth-child(2n+1) {
                            .card { 
                                // border-color: $waitingColor;
                                // box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
                                // box-shadow: 0px 3px 1px -2px $waitingColor, 0px 2px 2px 0px $waitingColor, 0px 1px 5px 0px $waitingColor;
                                
                                h3 {
                                    color: $waitingColor;
                                }
                                
                                &:hover {
                                    box-shadow: 0px 20px 35px -15px $waitingColor;
                                }
                            }
                        }
                        &:nth-child(2n) {
                            .card {
                                // border-color: $primaryColor;
                                // box-shadow: 0px 3px 1px -2px $primaryColor, 0px 2px 2px 0px $primaryColor, 0px 1px 5px 0px $primaryColor;
                                                                
                                h3 {
                                    color: $primaryColor;
                                }
                            
                                &:hover {
                                    box-shadow: 0px 20px 35px -15px $primaryColor;
                                }
                            }
                        }

                        &:nth-child(3n) {
                            .card {
                                // border-color: $successColor;
                                // box-shadow: 0px 3px 1px -2px $successColor, 0px 2px 2px 0px $successColor, 0px 1px 5px 0px $successColor;

                                h3 {
                                    color: $successColor;
                                }
                            
                                &:hover {
                                    box-shadow: 0px 20px 35px -15px $successColor;
                                }
                            }
                        }
                        &:nth-child(4n) {
                            .card {
                                // border-color: #fcdb00;
                                // box-shadow: 0px 3px 1px -2px #fcdb00, 0px 2px 2px 0px #fcdb00, 0px 1px 5px 0px #fcdb00;

                                h3 {
                                    color:  #fcdb00;
                                }
                            
                                &:hover {
                                    box-shadow: 0px 20px 35px -15px #fcdb00;
                                }
                            }
                        }
                        &:nth-child(5n) {
                            .card {
                                // border-color: #fd0100;
                                // box-shadow: 0px 3px 1px -2px #fd0100, 0px 2px 2px 0px #fd0100, 0px 1px 5px 0px #fd0100;

                                h3 {
                                    color: #fd0100;
                                }
                            
                                &:hover {
                                    box-shadow: 0px 20px 35px -20px #fd0100;
                                }
                            }
                        }

                        .card {
                            transition: all 0.3s;
                            width: 100%;
                            height: 100%;
                            position: relative;
                            // border-width: 2px;
                            // border-style: solid;

                            .MuiCardContent-root {
                                padding: initial;

                                h3 { padding: 15px; }
                            }


                            &:hover {
                                transform: scale(1.05) translateY(-10px);
                                box-shadow: 0px 15px 20px -5px silver;

                                .MuiCardActionArea-root {
                                    background-color: white !important;
                                }
                            }

                            > * {
                                height: 100%;
                                width: 100%;

                                > * {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
            
                            .subject-grid {
                                @extend %flex-h-start;
                                align-content: flex-start;
                                flex-wrap: wrap;
                                padding: 15px;
                                
                                > * {
                                    cursor: pointer;
                                    margin: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .sub-level {
                display: block;
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                animation: openSubLevelEffect 1 0.5s;

                &.hidde {
                    animation: closeSubLevelEffect 1 0.35s;
                    transform: scale(0);
                }
            }
        }
    }

    .launcher-table-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

@keyframes openLevelEffect {
    from { transform: scale(1); opacity: 1 }
    to { transform: scale(4); opacity: 0.15 }
}

@keyframes backLevelEffect {
    from { transform: scale(1.5); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes openSubLevelEffect {
    from { transform: scale(0.35); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes closeSubLevelEffect {
    from { transform: scale(1); opacity: 1 }
    to { transform: scale(0.5); opacity: 0 }
}