@import '../../assets/css/theme';
@import '../../assets/css/extendables';
@import '../../assets/css/mixins';


.launcher {

    .page-header {
        .launcher-toggler {
            @extend %bs-spread-shadow;

            > * {
                transition: all 0.5s;
                background-color: $primaryColor;
                color: white;
                font-weight: 600;
                border: none;

                &[data-selected="presence"]:first-child {
                    background-color: $secondaryColor;
                }
                &[data-selected="points"]:last-child {
                    background-color: $secondaryColor;
                }
            }
        }
    }

    .page-content {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        > .level {
            transition: all 0.5s;
            right: 0;
            z-index: 0;

            &:last-child {
                right: -100%;
                top: -100%;
            }

            > * {
                width: 100%;
                height: 100%;
            }
        }

        &[data-current-launcher="points"]  {
            > .level {
                right: 100%;
                
                &:last-child {
                    right: 0;
                }
            }
        }

        .level {
            position: relative;
            width: 100%;
            height: 100%;

            .level-header {
                @extend %flex-h-between;
                align-content: center;
                height: 100px;
                padding: 25px;
                width: 100%;

                .level-path {
                    @include fontSize(16);
                    @extend %flex-h-start;
                    align-content: flex-start;
                    background-color: $lightBackgroundAlt;
                    padding: 15px;
                    border-radius: 6px;

                    * {
                        height: 100%;
                        display: inline-block;
                    }

                    > span {
                        padding-right: 10px;
                    }
                }

                > button {
                    transform: scale(0.75);

                    .MuiIcon-root {
                        margin-right: 10px
                    }
                }
            }

            .level-content {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;
                opacity: 1;
            }
        }
    }

    .launcher-table-wrapper {
        width: 100%;
        height: calc(100% - 100px);
        position: relative;
        display: block;
        padding: 0 25px 25px 25px;
        box-sizing: border-box;

        * {
            transition: all 0.35s;
        }

        .MuiTable-root {
            height: 100%;
            width: 100%;
            min-width: 320px;
            position: relative;

            .MuiTableCell-root {
                min-width: 150px;
            }
        }

        &.presence-table {
            padding-top: 25px;

            &::before {
                content: attr(data-current-month);
                position: sticky;
                display: block;
                width: 100%;
                height: 25px;
                left: 0px;
                top: -25px;
                padding-left: 16px;
                z-index: 4;
                font-weight: 700;
                background-color: white;
                color: $primaryColor;
                box-sizing: border-box;
                text-transform: capitalize;
                text-align: center;
            }

            .MuiTable-root {
                .MuiTableCell-root {
                    min-width: 50px;

                    .MuiOutlinedInput-input {
                        padding: 7px;
                        min-width: 15px;
                        text-align: center;
                    }

                    &:first-child {
                        .MuiOutlinedInput-input {
                            text-align: left;
                            width: fit-content;
                        }
                    }
                }
            }
        }

        .launcher-table-header {

            .MuiTableCell-root {
                &:first-child {
                    position: sticky;
                    left: 0;
                    top: 0;
                }
            }
            
            .MuiTableCell-stickyHeader {
                text-align: center;
                background: none;
                font-weight: 700;
                color: $primaryColor;
                border: none;
                box-shadow: 0px 20px 20px -20px silver;
                background: white;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateY(50%);
                    width: 1px;
                    height: 50%;
                    background-color: $primaryColor;
                    border-top: none;
                    border-bottom: none;
                }

                &:first-child::before {
                    display: none;
                }

                h4 {
                    display: block;
                    width: 100%;
                    > small {
                        display: block;
                        width: 100%;
                    }
                }

                .MuiTableSortLabel-active {
                    color: $secondaryColor;

                    *  {
                        color: inherit !important;
                    }
                }
            }

            & + * {
                position: relative;
                height: 100%;
                overflow: auto;
            }
        }

        .MuiTableBody-root {
            .MuiTableCell-root {
                // border-color: $waitingColor;
                border-color: $accentColor;

                &:first-child {
                    position: sticky;
                    left: 0px;
                    background-color: white;
                    z-index: 1;
                }
            }

            &.editing {
                .MuiTableCell-root {
                    // border-color: $waitingColor;
                    border-color: rgba(0,0,0,0.25);

                    .MuiInputBase-root::before {
                        border-bottom-color: silver;
                    }
                }
            }
        }
    }
}

@keyframes openLevelEffect {
    from { transform: scale(1); opacity: 1 }
    to { transform: scale(4); opacity: 0.15 }
}

@keyframes backLevelEffect {
    from { transform: scale(1.5); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes openSubLevelEffect {
    from { transform: scale(0.35); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes closeSubLevelEffect {
    from { transform: scale(1); opacity: 1 }
    to { transform: scale(0.5); opacity: 0 }
}