@import '../../assets/css/theme';
@import '../../assets/css/mixins';

.widget {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;

  &.transparent {
    background-color: transparent !important;
  }

  .widget-title {
    @include fontSize(22);
    margin: initial;
    font-weight: 700;
    color: $title;
    padding-bottom: 10px;

    span {
      @include fontSize(32);
      color: $primaryColorRGB;
      margin-right: 15px;
      vertical-align: bottom;
    }
  }
}