
// Color Scheme
$primaryColor: #715bf0;
$primaryColorRGB: rgb(113, 91, 240);

$secondaryColor: #ff9100;
$secondaryColorRGB: rgb(255, 145, 0);

$waitingColor: #0099ff;
$waitingColorRGB: rgb(0, 153, 255);

$successColor: #28d9af;
$successColorRGB: rgb(40, 217, 175);

$accentColor: #00ecd4;
$accentColorRGB: rgb(0, 236, 212);

$content: #66667c;
$title: #64647a;
$fontDark: #001847;
$background: #f1f3f4;

