@import '../../assets/css/mixins';
@import '../../assets/css/extendables';
@import '../../assets/css/theme';

$drawerSizeLG: 400px;

.page {
  @extend %flex-v-between;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 30px;

  .page-header {
    @extend %flex-h-between;
    position: relative;
    width: 100%;
    min-height: 60px;
    padding: 15px 0;

    .page-title {
        @include fontSize(42);
        color: $fontDark;
    }

    button {
      .MuiIcon-root {
        margin-right: 15px;
      }
    }
  }

  .page-content {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
  }
}

.base-page {
  @extend %fullscreen-absolute;
  @extend %flex-v-start;
  flex-wrap: nowrap;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  .base-content {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    background-color: $background;

    .container {
      transition: all 0.4s;
      position: relative;
      padding: 0 25px;
      height: 100%;
      overflow: auto;
      transform: scale(1) perspective(800px) rotateY(0) translateX(0);
      z-index: 1;
    }

    .drawer {
      transition: all 0.4s;
      background-color: white;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 450px;
      transform: translateX(100%);
      z-index: 3;
      box-shadow: none;
    }

    &[data-show-sidebar=true] {
      .container {
        transform: scale(0.7) perspective(800px) rotateY(7.5deg) translateX(7.5%);
        opacity: 0.8;
        filter: grayscale(1);

        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: 5;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .drawer {
        transform: translateX(0%);
        box-shadow: -125px 0px 45px -45px rgba(0, 0, 0, 0.12);
      }
    }

  }
}