//@use '../../styles/theme';
@import '../../assets/css/extendables';
@import '../../assets/css/theme';

$drawerSizeLG: 400px;


.page {
  @extend %fullscreen-absolute;
  @extend %flex-v-start;
  flex-wrap: nowrap;

  * {
    box-sizing: border-box;
  }

  .content {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
    background-color: $background;

    .container {
      transition: all 0.4s;
      height: 100%;
      overflow: auto;
      transform: perspective(600px) rotateY(0) translateX(0) scale(1);
      z-index: 1;

      &.retreat {
        transform: perspective(600px) rotateY(7.5deg) translateX(-7.5%) scale(0.85);
        opacity: 0.75;
      }
    }

    .drawer {
      transition: all 0.4s;
      background-color: white;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 400px;
      transform: translateX(100%);
      z-index: 3;
      box-shadow: none;

      &.in {
        transform: translateX(0%);
        // box-shadow: -60px 0px 22px -60px rgba(0,0,0,0.25);
        // box-shadow: -75px 0px 30px -45px rgba(0, 0, 0, 0.2);
        box-shadow: -125px 0px 45px -45px rgba(0, 0, 0, 0.12);

        &::before {
          display: block;
        }
      }
    }

  }
}