@import '../../assets/css/theme';
@import '../../assets/css/extendables';

.sidebar-content {
  position: relative;
  @extend %flex-v-start;
  height: 100%;
  width: 400px;
  padding: 0 15px 15px 15px;
  overflow-y: auto;
}